<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <div id="app">
            <input v-model="name" />
            {{ name }}
        </div>
        <br />
        <div id="select">
            <select v-model="selected">
                <option disabled value="">당신의 혈액형은?</option>
                <option v-for='type in ["A", "B", "AB", "O"]' :value="type">{{type}}</option>
            </select>
            <p>{{selected}}</p>
        </div>
        <script src="https://vuejs.org/js/vue.js"></script>
        <script>
            new Vue({
                el: '#select',
                data: {
                    selected: ''
                }
            });
            new Vue({
                el: '#app',
                data: {
                    name: 'Kang Donghyeob'
                }
            });
        </script>
    </body>
</html>
